{{loc_db_name}} =
  (DESCRIPTION = 
    (ADDRESS = (PROTOCOL = TCP)(HOST = {{ansible_nodename}})(PORT = 1521))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = {{loc_db_name}}.{{dbdomain}})
    )
  )
LISTENER_{{loc_db_name}} = 
  (ADDRESS = (PROTOCOL = TCP)(HOST = {{ansible_nodename}})(PORT = 1521))

